.ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.ul li {
  font-size: 1.7em;
  margin: 0 .3em;
  cursor: pointer;
}

.button {
  cursor: pointer;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button button {
  border: none;
  background-color: #70160E;
  color: #E1E2DA;
  padding: 15px;
  border-radius: 10px;
  transition: 300ms;
  cursor: pointer;
}

.button button:hover {
  background-color: #4C160E;
}